*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #70737e;
}

form{
    display: flex;
    flex-direction: column;
    background: #3796d4;
    text-align: center;
    padding: 40px 45px;
    box-shadow: 0 5px 10px rgba(71, 3, 6, 0.7);
    border-radius: 25px;
}

form .title{
    color:black;
    font-size: 35px;
    font-weight: 800;
    margin-bottom: 30px;
}

form label{
    margin-bottom: 37px;
}


form label .fa-solid{
    font-size: 20px;
    color:#0e0e0e;
    margin-right: 10px;

}

form label input{
    outline: none;
    border: none;
    background-color: #3796d4; 
    color: #252525;
    border-bottom: solid 1px #234acb;
    padding: 0 5px;
    font-size: 18px;
}

form label input::placeholder{
    color: rgba(0, 0, 0, 0.5);
}

form .link{
    color: #252525;
    margin-bottom: 15px;
}

form button{
    color: #fff;
    border: none;
    background: #234acb;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 15px;
    border-radius: 25px;
}

form .register-text {
    margin-top: 20px; 
    color: #252525;
    margin-bottom: 10px; 
}


form .register-link {
    color: #234acb;
    text-decoration: underline;
}
